<footer class="footer mt-auto py-3">
  <div class="container-fluid px-4">
    <div class="row align-items-center justify-content-between">

      <div class="col-md-auto text-center text-md-start mb-2 mb-md-0">
        <div class="small m-0 text-muted">
          Copyright &copy; <strong style="color: #2d2d2d;">StoreHub</strong> {{ anioActual }}
          <span class="mx-2 opacity-50">|</span>
          Desarrollado por <span class="text-hub-primary fw-bold">Propuesta 5</span>
        </div>
      </div>

      <div class="col-md-auto text-center text-md-end">
        <div class="small text-muted d-flex align-items-center justify-content-center justify-content-md-end">

          <mat-icon class="me-1 text-hub-primary inline-icon">verified</mat-icon>
          <span class="fw-semibold me-3" style="color: #2d2d2d;">v1.0.2 - Estable</span>

          <a href="#" class="text-decoration-none">Privacidad</a>
          <span class="mx-2 opacity-50">·</span>
          <a href="#" class="text-decoration-none">Soporte</a>

        </div>
      </div>

    </div>
  </div>
</footer>
